@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
    --white: #ffffff;
    --negro: #121212;
    --headers-gcp: #202A44;
    --headers-cotepsa: #002D72;
    --headers-emsa: #165C7D;
    --headers-opcion-dos: #008EC1;
    --subtitulos: #009CDE;
    --headers-caprisa: #C8102E;
    --fondo: #D0D0CE;
    --blanco: #EAEAEA;
    --headers-remppirsa: #FFC20F;

    font-size: .833vw;
    --font-face: 'Poppins', Arial, Helvetica, sans-serif;

    --grid: 1vw;
}

body {
    width: 100%;
}

.vertical-center-text {
    line-height: calc(5*var(--grid)) !important;
}

.background-cover {
    background: url('../img/desktop-background.png') no-repeat center center fixed;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headers-cotepsa {
    color: var(--headers-cotepsa);
}

.headers-opcion-2 {
    color: var(--headers-opcion-dos);
}

.headers-caprisa {
    color: var(--headers-caprisa);
}

.headers-remp {
    color: var(--headers-remppirsa);
}

.headers-emsa {
    color: var(--headers-emsa);
}

.align-bottom {
    vertical-align: text-bottom;
}

.title-header {
    font-weight: 300;
    font-size: 6em;
    line-height: 1em;
    text-transform: uppercase;
}

.subtitle-header {
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
}

.body-text {
    font-weight: 200;
    font-size: 3em;
    line-height: 1.5em;
}

.navbar-link,
.navbar-link:hover,
.navbar-link:hover,
.proyect-name {
    font-weight: 200;
    font-size: 1.16666666667em;
    line-height: 1em;
    text-transform: uppercase;
}

.small-link {
    font-style: normal;
    font-weight: 200;
    font-size: 0.83333333333em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.small-body {
    font-style: normal;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.5em;
}

.text-link {
    font-style: normal;
    font-weight: 200;
    font-size: 2em;
    line-height: 1.5em;
}

.navbar-link:hover,
.navbar-link:active,
.text-link:hover,
.text-link:active,
.active-link {
    text-decoration: underline;
}

.small-top-margin {
    margin-top: calc(1.5*var(--grid));
}

.half-top-margin {
    margin-top: calc(2.5*var(--grid));
}

.one-top-margin-text {
    margin-top: calc(4*var(--grid));
}

.one-top-margin {
    margin-top: calc(5*var(--grid));
}

.two-top-margin {
    margin-top: calc(10*var(--grid));
}

.three-top-margin {
    margin-top: calc(15*var(--grid));
}

.four-top-margin {
    margin-top: calc(20*var(--grid));
}

.five-top-margin {
    margin-top: calc(25*var(--grid));
}

.six-top-margin {
    margin-top: calc(30*var(--grid));
}

.seven-top-margin {
    margin-top: calc(35*var(--grid));
}

.one-bottom-margin {
    margin-bottom: calc(5*var(--grid));
}

.one-height {
    height: calc(5*var(--grid));
}

.two-height {
    height: calc(10*var(--grid));
}

.three-height {
    height: calc(15*var(--grid));
}

.four-height {
    height: calc(20*var(--grid));
}

.five-height {
    height: calc(25*var(--grid));
}

.column,
.columns {
    margin-left: 0;
    max-width: 100% !important;
}

.one.column,
.one.columns {
    width: calc(5*var(--grid));
}

.two.columns {
    width: calc(10*var(--grid));
}

.three.columns {
    width: calc(15*var(--grid));
}

.four.columns {
    width: calc(20*var(--grid));
}

.five.columns {
    width: calc(25*var(--grid));
}

.six.columns {
    width: calc(30*var(--grid));
}

.seven.columns {
    width: calc(35*var(--grid));
}

.eight.columns {
    width: calc(40*var(--grid));
}

.nine.columns {
    width: calc(45*var(--grid));
}

.ten.columns {
    width: calc(50*var(--grid));
}

.eleven.columns {
    width: calc(55*var(--grid));
}

.twelve.columns {
    width: calc(60*var(--grid));
}

.thirteen.columns {
    width: calc(65*var(--grid));
}

.fourteen.columns {
    width: calc(70*var(--grid));
}

.fifteen.columns {
    width: calc(75*var(--grid));
}

.sixteen.columns {
    width: calc(80*var(--grid));
}

.seventeen.columns {
    width: calc(85*var(--grid));
}

.eighteen.columns {
    width: calc(90*var(--grid));
}

.nineteen.columns {
    width: calc(95*var(--grid));
}

.twenty.columns {
    width: calc(100*var(--grid));
}

.one-third.column {
    width: calc(33.33333*var(--grid));
}

.two-thirds.column {
    width: calc(66.66666*var(--grid));
}

.half.column {
    width: calc(50*var(--grid));
}

.full.column {
    width: 100%;
}

/* Offsets */
.one-offset.column,
.one-offset.columns {
    margin-left: calc(5*var(--grid));
}

.two-offset.columns {
    margin-left: calc(10*var(--grid));
}

.three-offset.columns {
    margin-left: calc(15*var(--grid));
}

.four-offset.columns {
    margin-left: calc(20*var(--grid));
}

.five-offset.columns {
    margin-left: calc(25*var(--grid));
}

.six-offset.columns {
    margin-left: calc(30*var(--grid));
}

.seven-offset.columns {
    margin-left: calc(35*var(--grid));
}

.eight-offset.columns {
    margin-left: calc(40*var(--grid));
}

.nine-offset.columns {
    margin-left: calc(45*var(--grid));
}

.ten-offset.columns {
    margin-left: calc(50*var(--grid));
}

.eleven-offset.columns {
    margin-left: calc(55*var(--grid));
}

.twelve-offset.columns {
    margin-left: calc(60*var(--grid));
}

.thirteen-offset.columns {
    margin-left: calc(65*var(--grid));
}

.fourteen-offset.columns {
    margin-left: calc(70*var(--grid));
}

.fifteen-offset.columns {
    margin-left: calc(75*var(--grid));
}

.sixteen-offset.columns {
    margin-left: calc(80*var(--grid));
}

.seventeen-offset.columns {
    margin-left: calc(85*var(--grid));
}

.eighteen-offset.columns {
    margin-left: calc(90*var(--grid));
}

.nineteen-offset.columns {
    margin-left: calc(95*var(--grid));
}

.twenty-offset.columns {
    margin-left: calc(100*var(--grid));
}

.one-third-offset.column,
.one-third-offset.columns {
    margin-left: calc(33.3333333333*var(--grid));
}

.two-thirds-offset.column,
.two-thirds-offset.columns {
    margin-left: calc(66.6666666666*var(--grid));
}

.half-offset.column,
.half-offset.columns {
    margin-left: calc(50*var(--grid));
}

.mobile-show {
    display: none;
}

.hamburger {
    position: fixed;
    float: right;
    margin-top: 7vw;
    margin-right: 5vw;
}

.nav-links {
    position: fixed !important;
    right: 0;
    height: 100vh;
    width: 50vw;
}

.nav-links.open {
    background-color: var(--headers-gcp) !important;
}

.container {
    width: 95% !important;
    padding-left: 5% !important;
    margin: 0 0 0 0 ;
    max-width: none;
}

.bold {
    font-weight: 300;
}

.float-right {
    float: right;
}
/* Larger than mobile */
@media (orientation: portrait) {
    :root {
        --grid: 2vw;

        font-size: 1.666vw;
    }

    .container {
        width: 90vw !important;
        padding-left: 5vw !important;
        margin: none !important;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: block;
    }

    .one-offset.column,
    .one-offset.columns,
    .two-offset.columns,
    .three-offset.columns,
    .four-offset.columns,
    .five-offset.columns,
    .six-offset.columns,
    .seven-offset.columns,
    .eight-offset.columns,
    .nine-offset.columns,
    .ten-offset.columns,
    .eleven-offset.columns,
    .twelve-offset.columns,
    .thirteen-offset.columns,
    .fourteen-offset.columns,
    .fifteen-offset.columns,
    .sixteen-offset.columns,
    .seventeen-offset.columns,
    .eighteen-offset.columns,
    .nineteen-offset.columns,
    .twenty-offset.columns {
        margin-left: 0 !important;
    }
}