@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
    --white: #ffffff;
    --negro: #121212;
    --headers-gcp: #202A44;
    --headers-cotepsa: #002D72;
    --headers-emsa: #165C7D;
    --headers-opcion-dos: #008EC1;
    --subtitulos: #009CDE;
    --headers-caprisa: #C8102E;
    --fondo: #D0D0CE;
    --blanco: #EAEAEA;
    --headers-remppirsa: #FFC20F;

    font-size: .833vw;
    --font-face: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
}

.vertical-center-text {
    line-height: 5vw !important;
}

.background-cover {
    background: url('../img/desktop-background.png') no-repeat center center fixed;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headers-cotepsa {
    color: var(--headers-cotepsa);
}

.headers-opcion-2 {
    color: var(--headers-opcion-dos);
}

.headers-caprisa {
    color: var(--headers-caprisa);
}

.headers-remp {
    color: var(--headers-remppirsa);
}

.headers-emsa {
    color: var(--headers-emsa);
}

.align-bottom {
    vertical-align: text-bottom;
}

.title-header {
    font-weight: 300;
    font-size: 6em;
    line-height: 1em;
    text-transform: uppercase;
}

.subtitle-header {
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
}

.body-text {
    font-weight: 200;
    font-size: 3em;
    line-height: 1.5em;
}

.navbar-link, .navbar-link:hover, .navbar-link:hover,
.proyect-name {
    font-weight: 200;
    font-size: 1.16666666667em;
    line-height: 1em;
    text-transform: uppercase;
}

.small-link {
    font-style: normal;
    font-weight: 200;
    font-size: 0.83333333333em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.small-body {
    font-style: normal;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.5em;
}

.text-link {
    font-style: normal;
    font-weight: 200;
    font-size: 2em;
    line-height: 1.5em;
}

.navbar-link:hover, .navbar-link:active,
.text-link:hover, .text-link:active, .active-link {
    text-decoration: underline;
}

.small-top-margin   {   margin-top: 1.5vw;     }
.half-top-margin    {   margin-top: 2.5vw;   }
.one-top-margin-text{   margin-top: 4vw;     }
.one-top-margin     {   margin-top: 5vw;     }
.two-top-margin     {   margin-top: 10vw;    }
.three-top-margin   {   margin-top: 15vw;    }
.four-top-margin    {   margin-top: 20vw;    }
.five-top-margin    {   margin-top: 25vw;    }
.six-top-margin     {   margin-top: 30vw;    }
.seven-top-margin   {   margin-top: 35vw;    }

.one-bottom-margin  {   margin-bottom: 5vw;  }

.one-height         {   height: 5vw;         }
.two-height         {   height: 10vw;        }
.three-height       {   height: 15vw;        }
.four-height        {   height: 20vw;        }
.five-height        {   height: 25vw;        }

.container 					{ width: 100%;               }
.column,
.columns 					{ margin-left: 0;            }

.one.column,
.one.columns             	{ width: 5vw;       }
.two.columns           	   	{ width: 10vw;      }
.three.columns         	   	{ width: 15vw;      }
.four.columns           	{ width: 20vw;      }
.five.columns             	{ width: 25vw;      }
.six.columns              	{ width: 30vw;      }
.seven.columns            	{ width: 35vw;      }
.eight.columns            	{ width: 40vw;      }
.nine.columns             	{ width: 45vw;      }
.ten.columns              	{ width: 50vw;      }
.eleven.columns           	{ width: 55vw;      }
.twelve.columns           	{ width: 60vw;      }
.thirteen.columns           { width: 65vw;      }
.fourteen.columns           { width: 70vw;      }
.fifteen.columns           	{ width: 75vw;      }
.sixteen.columns           	{ width: 80vw;      }
.seventeen.columns          { width: 85vw;      }
.eighteen.columns           { width: 90vw;      }
.nineteen.columns           { width: 95vw;      }
.twenty.columns           	{ width: 100vw;     }

.one-third.column         	{ width: 33.3333333333vw;      }
.two-thirds.column        	{ width: 66.6666666666vw;      }

.half.column            	{ width: 50vw;       }
.full.column				{ width: 100vw;      }

/* Offsets */
.one-offset.column,
.one-offset.columns              { margin-left: 5vw;       }
.two-offset.columns           	 { margin-left: 10vw;      }
.three-offset.columns         	 { margin-left: 15vw;      }
.four-offset.columns           	 { margin-left: 20vw;      }
.five-offset.columns             { margin-left: 25vw;      }
.six-offset.columns              { margin-left: 30vw;      }
.seven-offset.columns            { margin-left: 35vw;      }
.eight-offset.columns            { margin-left: 40vw;      }
.nine-offset.columns             { margin-left: 45vw;      }
.ten-offset.columns              { margin-left: 50vw;      }
.eleven-offset.columns           { margin-left: 55vw;      }
.twelve-offset.columns           { margin-left: 60vw;      }
.thirteen-offset.columns         { margin-left: 65vw;      }
.fourteen-offset.columns         { margin-left: 70vw;      }
.fifteen-offset.columns          { margin-left: 75vw;      }
.sixteen-offset.columns          { margin-left: 80vw;      }
.seventeen-offset.columns        { margin-left: 85vw;      }
.eighteen-offset.columns         { margin-left: 90vw;      }
.nineteen-offset.columns         { margin-left: 95vw;      }
.twenty-offset.columns           { margin-left: 100vw;     }

.one-third-offset.column,
.one-third-offset.columns 	{ margin-left: 33.3333333333vw;}
.two-thirds-offset.column,
.two-thirds-offset.columns	{ margin-left: 66.6666666666vw;}

.half-offset.column,
.half-offset.columns    	{ margin-left: 50vw;           }
